In [4]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re

In [44]:
t_eu = pd.read_csv('exoplanet.eu_catalog.csv')
# t_eu.set_index('# name', inplace=True)
# print(t_eu)
t_eu

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,11 Com b,Confirmed,NaN,NaN,NaN,16.1284,1.500,1.500,NaN,NaN,...,G8 III,NaN,NaN,NaN,4742.0,100.0,100.0,NaN,NaN,NaN
1,11 Oph b,Confirmed,21.00,3.00,3.00,NaN,NaN,NaN,NaN,NaN,...,M9,0.011,0.002,0.002,2375.0,175.0,175.0,NaN,NaN,"Oph 1622-2405, Oph 11A"
2,11 UMi b,Confirmed,NaN,NaN,NaN,11.0873,1.100,1.100,NaN,NaN,...,K4III,1.560,0.540,0.540,4340.0,70.0,70.0,NaN,NaN,NaN
3,14 And b,Confirmed,NaN,NaN,NaN,4.6840,0.230,0.230,NaN,NaN,...,K0III,NaN,NaN,NaN,4813.0,20.0,20.0,NaN,NaN,NaN
4,14 Her b,Confirmed,9.10,NaN,NaN,5.2150,NaN,NaN,NaN,NaN,...,K0 V,5.100,NaN,NaN,5311.0,87.0,87.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5220,ups And c,Confirmed,9.10,2.93,5.04,1.8000,0.260,0.260,NaN,NaN,...,F8 V,3.800,1.000,1.000,6212.0,80.0,80.0,NaN,NaN,NaN
5221,ups And d,Confirmed,23.58,2.29,2.93,10.1900,NaN,NaN,NaN,NaN,...,F8 V,3.800,1.000,1.000,6212.0,80.0,80.0,NaN,NaN,NaN
5222,ups And e,Confirmed,NaN,NaN,NaN,1.0590,0.028,0.028,NaN,NaN,...,F8 V,3.800,1.000,1.000,6212.0,80.0,80.0,NaN,NaN,NaN
5223,ups Leo b,Confirmed,NaN,NaN,NaN,0.5100,0.260,0.080,NaN,NaN,...,G9 III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5224,zet Del B,Confirmed,40.00,5.00,15.00,NaN,NaN,NaN,NaN,NaN,...,A3V,0.525,0.125,0.125,8336.0,NaN,NaN,NaN,NaN,"HD 196180, HIP 101589, 2MASS J20351852+1440272"

In [102]:
re_2mass = re.compile(r"^\s*(2MASS(\s|-)((J|H|K)?\d+(\+|-)\d+))")
re_bd = re.compile(r"^\s*(BD(\s|\+|-)(\d+\s\d+))")
re_hd = re.compile(r"^\s*(HD\s(\d+))")
re_hip = re.compile(r"^\s*(HIP\s(\d+))")
re_gj = re.compile(r"^\s*(GJ\s(\d+))")
re_kic = re.compile(r"^\s*(KIC\s(\d+))")
re_koi = re.compile(r"^\s*(KOI-(\d+))")
re_tic = re.compile(r"^\s*(TIC\s(\d+))")
re_toi = re.compile(r"^\s*(TOI-(\d+))")
re_tyc = re.compile(r"^\s*(TYC\s(\d+(-\d+)*))")
def alt_name_cols(row):
    
    new_row = row.copy(deep=False)
    
    s_alt_names_str = str(row['star_alternate_names'])
    new_row['SNAME_2MASS'] = ""
    new_row['SNAME_BD'] = ""
    new_row['SNAME_HD'] = ""
    new_row['SNAME_HIP'] = ""
    new_row['SNAME_GJ'] = ""
    new_row['SNAME_KIC'] = ""
    new_row['SNAME_KOI'] = ""
    new_row['SNAME_TIC'] = ""
    new_row['SNAME_TOI'] = ""
    new_row['SNAME_TYC'] = ""
    
    s_name_list = s_alt_names_str.split(",")
    
    for s_name in reversed(s_name_list):
        m_2mass = re.search(re_2mass, s_name)
        if m_2mass is not None:
            new_row['SNAME_2MASS'] = m_2mass.group(3)
            continue
        
        m_bd = re.search(re_bd, s_name)
        if m_bd is not None:
            new_row['SNAME_BD'] = m_bd.group(3)
            continue
        
        m_hd = re.search(re_hd, s_name)
        if m_hd is not None:
            new_row['SNAME_HD'] = m_hd.group(2)
            continue
        
        m_hip = re.search(re_hip, s_name)
        if m_hip is not None:
            new_row['SNAME_HIP'] = m_hip.group(2)
            continue
                
        m_gj = re.search(re_gj, s_name)
        if m_gj is not None:
            new_row['SNAME_GJ'] = m_gj.group(2)
            continue
        
        m_kic = re.search(re_kic, s_name)
        if m_kic is not None:
            new_row['SNAME_KIC'] = m_kic.group(2)
            continue
        
        m_koi = re.search(re_koi, s_name)
        if m_koi is not None:
            new_row['SNAME_KOI'] = m_koi.group(2)
            continue
        
        m_tic = re.search(re_tic, s_name)
        if m_tic is not None:
            new_row['SNAME_TIC'] = m_tic.group(2)
            continue
        
        m_toi = re.search(re_toi, s_name)
        if m_toi is not None:
            new_row['SNAME_TOI'] = m_toi.group(2)
            continue
        
        m_tyc = re.search(re_tyc, s_name)
        if m_tyc is not None:
            new_row['SNAME_TYC'] = m_tyc.group(2)
            continue
            
    return new_row

In [103]:
newnames = t_eu.apply(alt_name_cols, axis=1)

In [106]:
newnames[(newnames['SNAME_KOI'] != "") | (newnames['SNAME_KIC'] != "")]

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,SNAME_2MASS,SNAME_BD,SNAME_HD,SNAME_HIP,SNAME_GJ,SNAME_KIC,SNAME_KOI,SNAME_TIC,SNAME_TOI,SNAME_TYC
1792,KIC 5095269 (AB) b,Confirmed,7.698,0.0540,0.0540,NaN,NaN,NaN,NaN,NaN,...,J19221246+4014060,,,,,,6518,,,
1873,KOI-12 b,Confirmed,1.100,0.8000,3.5000,NaN,NaN,NaN,1.230,0.050,...,J19494889+4100395,,,,,5812701,12,,,3140-349-1
1875,KOI-1257 b,Confirmed,1.450,0.3500,0.3500,NaN,NaN,NaN,0.940,0.120,...,J19245404+4455385,,,,,8751933,1257,,,
1876,KOI-13 b,Confirmed,9.280,0.1600,0.1600,NaN,NaN,NaN,1.512,0.035,...,J19075308+4652061,,,,,9941662,13,,,
1877,KOI-142 b,Confirmed,0.030,0.0036,0.0036,NaN,NaN,NaN,0.307,0.007,...,J19243554+4040098,,,,,5446285,142,122712595,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4327,Kepler-995 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.241,0.015,...,J18582777+3907517,,,,,4035640,1881,,,
4328,Kepler-996 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.177,0.022,...,J19273906+4132009,,,,,6205228,1882,,,
4329,Kepler-997 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.121,0.023,...,J19165600+4956201,,,,,11758544,1883,,,
4330,Kepler-998 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.207,0.027,...,J19470099+4912314,,,,,11413812,1885,,,
4331,Kepler-999 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.209,0.044,...,J19583851+4611543,,,,,9549648,1886,,,

In [92]:
tic_kic = pd.read_csv("tic_kic.csv")

In [93]:
tic_kic.rename(columns={"2MASS": "SNAME_2MASS","TIC": "SNAME_TIC"}, inplace=True)
tic_kic

,SNAME_TIC,KIC,SNAME_2MASS,Bmag,Vmag,Kmag,Teff,Mass,Rad,LClass,e_Bmag,e_Vmag,e_Kmag,s_Teff,s_Mass,s_Rad
0,349549298,1,12461108-0030119,17.270,16.538,14.349,5053.0,0.840,0.704,DWARF,0.131,0.047,0.076,123.0,NaN,NaN
1,349525662,2,12445374-0029336,17.869,17.040,15.393,5980.0,1.100,0.788,DWARF,0.319,0.213,0.187,126.0,NaN,NaN
2,349525860,3,12445844-0027192,18.913,17.400,12.617,3483.0,0.438,0.442,DWARF,0.171,0.200,0.030,157.0,0.021,0.014
3,349525899,4,12450749-0029202,17.851,16.342,12.848,NaN,NaN,NaN,DWARF,0.099,0.183,0.037,NaN,NaN,NaN
4,349525901,5,12450939-0029567,17.843,16.416,13.937,4582.0,0.720,0.537,DWARF,0.000,0.584,0.065,122.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149211,461618866,13161025,00512088+8522414,15.587,14.866,13.193,5716.0,1.020,2.733,DWARF,0.087,0.080,0.031,122.0,NaN,NaN
6149212,461618799,13161026,00512425+8518033,14.066,13.309,10.777,5051.0,NaN,2.969,GIANT,0.139,0.046,0.020,123.0,NaN,NaN
6149213,461618830,13161027,00513017+8520080,16.137,15.591,13.938,5883.0,1.070,1.478,DWARF,0.036,0.092,0.055,123.0,NaN,NaN
6149214,461618850,13161028,00514028+8521278,15.837,15.213,13.675,5784.0,1.040,1.619,DWARF,0.053,0.080,0.045,122.0,NaN,NaN
6149215,461618832,13161029,00514224+8520145,16.161,16.087,14.770,5600.0,0.990,1.105,DWARF,0.130,0.138,0.102,123.0,NaN,NaN

In [94]:
mergedf=pd.merge(newnames, tic_kic_new, how='inner', on='SNAME_2MASS')
mergedf

Empty DataFrame
Columns: [# name, planet_status, mass, mass_error_min, mass_error_max, mass_sini, mass_sini_error_min, mass_sini_error_max, radius, radius_error_min, radius_error_max, orbital_period, orbital_period_error_min, orbital_period_error_max, semi_major_axis, semi_major_axis_error_min, semi_major_axis_error_max, eccentricity, eccentricity_error_min, eccentricity_error_max, inclination, inclination_error_min, inclination_error_max, angular_distance, discovered, updated, omega, omega_error_min, omega_error_max, tperi, tperi_error_min, tperi_error_max, tconj, tconj_error_min, tconj_error_max, tzero_tr, tzero_tr_error_min, tzero_tr_error_max, tzero_tr_sec, tzero_tr_sec_error_min, tzero_tr_sec_error_max, lambda_angle, lambda_angle_error_min, lambda_angle_error_max, impact_parameter, impact_parameter_error_min, impact_parameter_error_max, tzero_vr, tzero_vr_error_min, tzero_vr_error_max, k, k_error_min, k_error_max, temp_calculated, temp_calculated_error_min, temp_calculated_error_max, temp_measured, hot_point_lon, geometric_albedo, geometric_albedo_error_min, geometric_albedo_error_max, log_g, publication, detection_type, mass_detection_type, radius_detection_type, alternate_names, molecules, star_name, ra, dec, mag_v, mag_i, mag_j, mag_h, mag_k, star_distance, star_distance_error_min, star_distance_error_max, star_metallicity, star_metallicity_error_min, star_metallicity_error_max, star_mass, star_mass_error_min, star_mass_error_max, star_radius, star_radius_error_min, star_radius_error_max, star_sp_type, star_age, star_age_error_min, star_age_error_max, star_teff, star_teff_error_min, star_teff_error_max, star_detected_disc, star_magnetic_field, star_alternate_names, SNAME_2MASS, SNAME_BD, ...]
Index: []

[0 rows x 121 columns]

In [86]:
tic_str = tic_kic['SNAME_TIC'].apply(lambda x: str(x))
tic_kic_new = tic_kic.copy(deep=False)
tic_kic_new['SNAME_TIC'] = tic_str
tic_kic_new

,SNAME_TIC,KIC,SNAME_2MASS,Bmag,Vmag,Kmag,Teff,Mass,Rad,LClass,e_Bmag,e_Vmag,e_Kmag,s_Teff,s_Mass,s_Rad
0,349549298,1,12461108-0030119,17.270,16.538,14.349,5053.0,0.840,0.704,DWARF,0.131,0.047,0.076,123.0,NaN,NaN
1,349525662,2,12445374-0029336,17.869,17.040,15.393,5980.0,1.100,0.788,DWARF,0.319,0.213,0.187,126.0,NaN,NaN
2,349525860,3,12445844-0027192,18.913,17.400,12.617,3483.0,0.438,0.442,DWARF,0.171,0.200,0.030,157.0,0.021,0.014
3,349525899,4,12450749-0029202,17.851,16.342,12.848,NaN,NaN,NaN,DWARF,0.099,0.183,0.037,NaN,NaN,NaN
4,349525901,5,12450939-0029567,17.843,16.416,13.937,4582.0,0.720,0.537,DWARF,0.000,0.584,0.065,122.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149211,461618866,13161025,00512088+8522414,15.587,14.866,13.193,5716.0,1.020,2.733,DWARF,0.087,0.080,0.031,122.0,NaN,NaN
6149212,461618799,13161026,00512425+8518033,14.066,13.309,10.777,5051.0,NaN,2.969,GIANT,0.139,0.046,0.020,123.0,NaN,NaN
6149213,461618830,13161027,00513017+8520080,16.137,15.591,13.938,5883.0,1.070,1.478,DWARF,0.036,0.092,0.055,123.0,NaN,NaN
6149214,461618850,13161028,00514028+8521278,15.837,15.213,13.675,5784.0,1.040,1.619,DWARF,0.053,0.080,0.045,122.0,NaN,NaN
6149215,461618832,13161029,00514224+8520145,16.161,16.087,14.770,5600.0,0.990,1.105,DWARF,0.130,0.138,0.102,123.0,NaN,NaN

In [87]:
mergedf=pd.merge(newnames, tic_kic_new, how='inner', on='SNAME_TIC')
mergedf

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,Teff,Mass,Rad,LClass,e_Bmag,e_Vmag,e_Kmag,s_Teff,s_Mass,s_Rad
0,KOI-142 b,Confirmed,0.03000,0.00360,0.00360,NaN,NaN,NaN,0.3070,0.0070,...,5368.9,0.930,0.956,DWARF,0.068,0.126,0.019,143.0,0.118,0.061
1,KOI-142 c,Confirmed,0.67400,0.01600,0.01600,NaN,NaN,NaN,NaN,NaN,...,5368.9,0.930,0.956,DWARF,0.068,0.126,0.019,143.0,0.118,0.061
2,Kepler-88 d,Confirmed,3.05000,0.16000,0.16000,3.05,0.16,0.16,NaN,NaN,...,5368.9,0.930,0.956,DWARF,0.068,0.126,0.019,143.0,0.118,0.061
3,KOI-1783 b,Confirmed,0.22340,0.02890,0.03520,NaN,NaN,NaN,0.7904,0.0214,...,5995.0,1.100,1.185,DWARF,0.081,0.080,0.020,122.0,NaN,NaN
4,KOI-1783 c,Confirmed,0.04720,0.01130,0.01350,NaN,NaN,NaN,0.4853,0.0270,...,5995.0,1.100,1.185,DWARF,0.081,0.080,0.020,122.0,NaN,NaN
5,Kepler-1514 b,Confirmed,5.28000,0.22000,0.22000,NaN,NaN,NaN,1.1080,0.0250,...,6181.6,1.182,1.368,DWARF,0.319,0.022,0.018,118.8,0.163,0.064
6,Kepler-1514 c,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.1050,0.0040,...,6181.6,1.182,1.368,DWARF,0.319,0.022,0.018,118.8,0.163,0.064
7,Kepler-1649 b,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.0910,0.0050,...,3269.0,0.201,0.231,DWARF,NaN,0.200,0.026,157.0,0.020,0.007
8,Kepler-1649 c,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,0.0950,0.0090,...,3269.0,0.201,0.231,DWARF,NaN,0.200,0.026,157.0,0.020,0.007
9,Kepler-462 b,Confirmed,0.16959,0.07488,0.32911,NaN,NaN,NaN,0.2680,0.0090,...,7735.0,1.820,1.617,DWARF,0.217,0.016,0.020,178.5,0.286,0.057
10,Kepler-462 c,Confirmed,0.01888,0.01542,0.03398,NaN,NaN,NaN,0.3570,0.0180,...,7735.0,1.820,1.617,DWARF,0.217,0.016,0.020,178.5,0.286,0.057
11,Kepler-595 b,Confirmed,0.05475,0.01196,0.02234,NaN,NaN,NaN,0.3310,0.0010,...,5138.5,0.870,0.846,DWARF,0.085,0.126,0.029,60.8,NaN,NaN
12,Kepler-595 c,Confirmed,0.01038,0.00315,0.00535,NaN,NaN,NaN,0.0900,0.0020,...,5138.5,0.870,0.846,DWARF,0.085,0.126,0.029,60.8,NaN,NaN

In [89]:
mergedf[['star_mass','Mass']]

    star_mass   Mass
0        0.99  0.930
1        0.99  0.930
2        0.99  0.930
3        1.08  1.100
4        1.08  1.100
5        1.20  1.182
6        1.20  1.182
7        0.20  0.201
8        0.20  0.201
9        1.59  1.820
10       1.59  1.820
11       0.93  0.870
12       0.93  0.870